@model Movie

<style>
    body {
        background-image: url("/images/hero.png");
    }
</style>

<section class="flex flex-col md:flex-row gap-12 my-24">
    <figure>
        <img src="@Model.ImageUrl" class="w-96" alt="">
    </figure>
    <div class="space-y-6">
        <h1 class="text-white text-4xl">@Model.Title</h1>
        <p class="text-white">
            @Model.Description
        </p>
        <div class="space-x-2.5 text-white">
            <button
                class="rounded-full bg-white px-24 h-12 text-zinc-950 font-medium uppercase hover:opacity-90">play</button>
            <button class="rounded-full border-2 border-white size-12">+</button>
        </div>
    </div>
</section>